<div class="container">
    <form [formGroup]="photoForm" class="row" (submit)="upload()">
      <div class="col-md-6 text-center">
        <input 
          formControlName="file" 
          type="file" 
          accept="image/*"
          (change)="file = $any($event.target).files[0]"
          >
        <app-vmessage 
          *ngIf="photoForm.get('file')?.errors?.['required']"
          text="Please, select a photo!">
        </app-vmessage>
      </div>
  
      <div class="col-md-6">
        <div class="form-group">
          <textarea 
            formControlName="description"
            class="form-control form-control-sm mb-2" 
            placeholder="photo description">
          </textarea>
          <app-vmessage 
            *ngIf="photoForm.get('description')?.errors?.['maxlength']"
            text="max length is 300!">
          </app-vmessage>
        </div>
  
        <div class="form-group mb-2">
          <label class="text-muted">
            Allow comments
            <input formControlName="allowComments" type="checkbox">
          </label>
        </div>
  
        <button [disabled]="photoForm.invalid" type="submit" class="btn btn-primary form-control mb-2">
          Upload
        </button>
  
        <a (click)="cancelarEnvio()" class="btn btn-secondary form-control">Cancel</a>
      </div>
    </form>
  </div>